<%- include('layout/header.ejs'); -%>
    <div class="container form-container">
        <div class="title-header">
            <h4>Your cart</h4>
        </div>
        <div class="mt-4 mb-4">
            <a href="/" class="btn btn-default">
                <i class="fa-solid fa-circle-plus"></i>
                Shopping now~
            </a>
        </div>
        <% if (typeof cart !=="undefined" ) { %>
            <div class="row">
                <div class="col-md-8 col-sm-12 content-cart-detail">
                    <div class="list-pageform-cart">
                        <form name="action-cart-form" method="POST">
                            <div class="cart-row">
                                <p class="title-number-cart">
                                    You have <strong>
                                        <%=helper.countProducts(cart)%>
                                    </strong>
                                    products in your cart
                                </p>
                                <div class="table-cart">
                                    <% cart.map(function(product){ %>
                                        <div class="media-line-item">
                                            <div class="media-left">
                                                <a href="/<%= product.category %>/<%= product.id %>">
                                                    <img class="item-image" src="<%= product.image %>" alt="">
                                                </a>
                                            </div>
                                            <div class="media-right">
                                                <div class="item-info">
                                                    <a href="/<%= product.category %>/<%= product.id %>">
                                                        <h3 class="item-title">
                                                            <%= product.title %>
                                                        </h3>
                                                    </a>
                                                </div>
                                                <div class="item-qty">
                                                    <div class="input-quantity">
                                                        <button class="btn-quantity" id="decrement"
                                                            data-id="<%=product.id%>"> - </button>
                                                        <input type="number" min="1" max="100" step="1" name="quantity"
                                                            id="my-input" value="<%=product.qty%>" readonly>
                                                        <button class="btn-quantity" id="increment"
                                                            data-id="<%=product.id%>"> + </button>
                                                    </div>
                                                </div>
                                                <p class="item-price">
                                                    <span>Price: $<%= product.price %></span>
                                                </p>
                                            </div>
                                            <div class="item-total-price">
                                                <div class="price">
                                                    <span class="text">Cost: </span>
                                                    <span class="line-item-total">$<%= helper.costProduct(product.price,
                                                            product.qty) %></span>
                                                </div>
                                                <div class="remove">
                                                    <button id="delete" class="btn btn-delete"
                                                        data-id="<%=product.id%>">
                                                        <i class="fa-solid fa-trash"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <% }); %>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="order-summary-block sticky-total">
                        <h2 class="summary-title">Information order</h2>
                        <div class="summary-total">
                            <p>Total money: <span>
                                    $<%= helper.totalCart(cart)%>
                                </span></p>
                        </div>
                        <div class="summary-action">
                            <p>
                                Phí vận chuyển sẽ được tính ở trang thanh toán.
                            </p>
                            <p>
                                Bạn cũng có thể nhập mã giảm giá ở trang thanh toán.
                            </p>
                            <p>
                                Bạn có thể hoàn trả sản phẩm khi đã thanh toán (lý do hoàn trả).
                            </p>
                            <a href="/cart/clear" class="checkout-btn">Pay</a>
                        </div>
                    </div>
                </div>
            </div>
            <% } else {%>
                <div class="note-none text-center">
                    <img src="https://webstatic-sea.hoyoverse.com/upload/static-resource/2022/03/11/1aa91241d10571a4f52f4a8f8fa5e519_4685816973179560758.gif"
                        alt="" class="img-note">
                    <h5 class="note">Your cart is empty! <strong>Shopping now~~~~~</strong></h5>
                </div>
                <% } %>
    </div>
    <script src="/js/checkOut.js"></script>
    <%- include('layout/footer'); -%>