<%- include('layout/header.ejs'); -%>
    <div class="full-witch container">
        <div class=" container-product">
            <div class="title-header">
                <h4>Product detail page</h4>
            </div>
            <div class="row product-detail">
                <div class="col-md-12 col-lg-6 zoom">
                    <img class="product-img" src="/img/<%= product.image %>" alt="Product image">
                    <img id="imgZoom" class="product-img" src="/img/<%= product.image %>" alt="Product image">
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="product-desc">
                        <div class="product-title">
                            <h3>
                                <%= product.title %>
                            </h3>
                        </div>
                        <p class="card-price">
                            Price: $<%= helper.covertPrice(product.price)%>
                        </p>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>

    </div>
    <script src="/js/productDetail.js"></script>
    <%- include('layout/footer'); -%>