<%- include('layout/header.ejs'); -%>
    <div class="full-witch container">
        <div class=" container-product">
            <div class="title-header">
                <h4>Product detail page</h4>
            </div>
            <div class="row product-detail">
                <div class="col-md-12 col-lg-6 zoom">
                    <img class="product-img" src="/img/<%= product.image %>" alt="Product image">
                    <img id="imgZoom" class="product-img" src="/img/<%= product.image %>" alt="Product image">
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="product-desc">
                        <div class="product-title">
                            <h1>
                                <%= product.title %>
                            </h1>
                        </div>
                        <div class="product-price">
                            <span class="pro-price">Price: $<%= helper.covertPrice(product.price)%></span>
                        </div>
                        <form action="/cart/add/<%= product.id %>" method="POST" class="product-sale">
                            <div class="input-quantity">
                                <button class="btn-quantity" id="decrement"> - </button>
                                <input type="number" min="1" max="100" step="1" name="quantity" id="my-input" value="1"
                                    readonly>
                                <button class="btn-quantity" id="increment"> + </button>
                            </div>
                            <button type="submit" class="btn btn-cart">
                                <i class="fas fa-cart-shopping"></i>
                                Add to cart
                            </button>
                        </form>
                        <div class="product-deliverly">
                            <ul class="infoList-deliverly">
                                <li>
                                    <span class="lazyload"><i class="fa-solid fa-box"></i></span>
                                    <i class="fa-solid fa-check"></i>
                                    <strong>Sản phẩm chính hãng từ Nhật Bản.</strong><br>
                                    <i class="fa-solid fa-check"></i>
                                    <strong>Trước khi bạn đặt mua:</strong>
                                    vui lòng check lại giá hiện tại với admin, vì khả năng giá đã thay đổi so với lần
                                    cập nhật gần nhất, hoặc hết hàng, hết suất order. Do giới hạn số lượng, figure Nhật
                                    sẽ hiếm dần theo thời gian, dẫn tới giá tăng.
                                </li>
                                <li>
                                    <span class="lazyload"><i class="fa-solid fa-truck"></i></span>
                                    <i class="fa-solid fa-check"></i>
                                    Với sản phẩm
                                    <strong>CÓ SẴN, bạn sẽ được giao ngày</strong><br>
                                    <i class="fa-solid fa-check"></i>
                                    Với sản phẩm
                                    <strong>ĐẶT TRƯỚC, bạn cần cọc 50% giá trị sản phẩm.</strong>
                                    Hàng về VN khoảng 2-3 tuần sau khi phát hành. Lịch phát hành dự kiến như thông tin
                                    chi tiết bên dưới.
                                </li>
                                <li>
                                    <span class="lazyload"><i class="fa-solid fa-phone"></i></span>
                                    <i class="fa-solid fa-check"></i>
                                    <strong>Giao hàng tận nơi.</strong><br>
                                    <i class="fa-solid fa-check"></i>
                                    <strong> Miễn phí ship với các đơn hàng >1000K</strong><br>
                                    <i class="fa-solid fa-check"></i>
                                    <strong> Vui lòng kiểm tra sản phẩm khi nhận bưu kiện</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                </a>
                <div class="description">
                    <h3>Description</h3>
                    <p class="detailsection-title">
                        <strong>Update at: <%=product.createdAt %></strong>
                    </p>
                    <p>
                        <%=product.desc%>
                    </p>
                </div>
            </div>
        </div>
    </div>

    </div>
    <script src="/js/productDetail.js"></script>
    <%- include('layout/footer'); -%>