<%- include('../layout/header.ejs'); -%>
    <div class="container form-container">
        <div class="title-header">
            <h4>Manage your trash</h4>
        </div>
        <a href="/admin/products" class="btn btn-default  mt-4 mb-4">
            <i class="fa-solid fa-circle-chevron-left"></i>
            Back to manage products page
        </a>
        <table class="table table-hover alignmiddle">
            <thead>
                <tr class="home">
                    <th scope="col">#</th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Category</th>
                    <th scope="col">Product Image</th>
                    <th scope="col">Restore</th>
                    <th scope="col">Destroy</th>
                </tr>
            </thead>
            <tbody>
                <% if( products.length> 0 ) { %>
                    <% products.map((product, i)=> { %>
                        <tr>
                            <td>
                                <%=i%>
                            </td>
                            <td>
                                <%= product.title %>
                            </td>
                            <td>
                                $<%= parseFloat(product.price).toFixed(2) %>
                            </td>
                            <td>
                                <%= product.category %>
                            </td>
                            <td>
                                <% if (product.image=="" ) { %>
                                    <img class="image" src="/img/none-image.jpg">
                                    <% } else {%>
                                        <img class="image" src="/img/<%= product.image %>">
                                        <% }%>
                            </td>
                            <td><a href="" data-id="<%=product._id%>">Restore</a></td>
                            <td><a class="confirm-deletion" data-id="<%=product._id%>" data-toggle="modal"
                                    data-target="#delete-product-modal" href="">Destroy</a>
                            </td>
                        </tr>
                        <%})%>
                            <% } else { %>
                                <tr>
                                    <td colspan="3" class="text-center">
                                        <div class="d-flex flex-column none-item">
                                            <img src='https://www.hoyolab.com/_nuxt/img/56a30a4.png' alt='' />
                                            <span>You have not posted any products yet~</span>
                                        </div>
                                    </td>
                                </tr>
                                <%}%>
            </tbody>
        </table>
        <div class="footer-table">
            <h5>That's all~</h5>
        </div>
    </div>

    <!-- Config delete product -->
    <div class="modal fade" id="delete-product-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Destroy Product?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to destroy this product? (You can't restore this product!!!)</p>
                    <img src="https://upload-os-bbs.hoyolab.com/upload/2021/07/15/1079059/dee4f77d7c27f09425b0012f338c0540_2282913593959284346.png?x-oss-process=image%2Fresize%2Cs_1000%2Fquality%2Cq_80%2Fauto-orient%2C0%2Finterlace%2C1%2Fformat%2Cwebp"
                        alt="" class="img-modal" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="btn-delete-product" type="button" class="btn btn-primary">Destroy</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete hidden form  -->
    <!-- Action form hidden in JS -->
    <form name="delete-product-form" method="POST">
    </form>
    <script src="/js/trash.js"></script>

    <%- include('../layout/footer'); -%>